@import "tailwindcss";
@font-face {
  font-family: "LINESeedSansTH";
  src: url("../public/font/LINESeedSansTH_W_Rg.woff2");
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  cursor: default;
  user-select: none;
  font-family: "LINESeedSansTH", serif;
}

body {
  font-family: "LINESeedSansTH", serif;
  color: var(--background);
  
  /* กำหนดสีพื้นหลังหลัก */
  background-color: #272727; 
  
  /* สร้างจุดด้วย radial-gradient */
  background-image: radial-gradient(circle, #383838 1px, transparent 1px);
  
  /* สำคัญ: กำหนดระยะห่างของจุด (ความกว้าง x ความสูง) */
  background-size: 20px 20px;
  
  background-attachment: fixed;
}
h1 {
  font-family: "LINESeedSansTH", serif;
}
p {
  font-family: "LINESeedSansTH", serif;
}
a:hover {
  color: #bc49ff;
}
